
<%= form_with model: @articlestud, local: true do |form| %>
 <% if @articlestud.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@articlestud.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @articlestud.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :section %><br>
    <%= form.text_field :text %>
  </p>
 <p>
    <%= form.label :address %><br>
    <%= form.text_area :discp %>
  </p>
  <p>
    <%= form.submit :update %>
  </p>
 
<% end %>
